<!doctype html>
<html ng-app>
<head>
  <link rel='stylesheet' href='NetworkRequests.css'>
  <script src="../lib/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="angular-1.0.1.min.js"></script>
  
  </head>
 <body ng-controller="mycontroller">
  <div id = '1'  >
    <h2 >SAP GW Test Case Builder </h2>
      <button id= 'clearBtn' title="Clear"   >Clear</button>
	  <button id='gwDetect' title="Push to GW Client" >Determine Gateway Server</button>
	  <button id='gwBtn' title="Push to GW Client" >Push to GW Client</button>
  </div>
  
 <div id= '2' >
  <div >
    <h4 >SAP Gateway Server Details </h4>
  	<div id='gwSys'> 
	Gateway Server: <strong> {{gwSystem}} </strong> <br>
	Gateway Server Client (MANDT):  <strong> {{gwClient}} </strong>
	<br>
	<br>
	Change Gateway Server : 
	<input type = "text" ng-model = "gwSystem" maxlength="1000">
	<br>
	Change Server Client (MANDT):
	<input type = "text" ng-model = "gwClient" maxlength="4">
	</div>
     <br>
	 <br>
	 <h4 >OData Calls </h4>
     <ul> <li ng-repeat="url in urls"><input type="checkbox" ng-model="url.select">{{url.URL}} Method: {{url.Method}}</li></ul>
  </div>
 </div>
	
     
 <div id= '4' >
	<div >  
	<h4 >SAP GW Test Case Details </h4>
	Test Group: <strong> {{testGroup}} </strong> <br>
	Change Test Group : 
	<input type = "text" ng-model = "testGroup" maxlength="12">
	<br>
	<div id='dvTable'>
	
	</div>
	</div>
 </div>
   
   
  <script src="InspectedWindowLoadMonitor.js" type="text/javascript"></script>
  <script src="NetworkRequests.js" type="text/javascript"></script>
   
  
</body>
</html>